USE [master]
GO
/****** Object:  Database [TestDB1]    Script Date: 31.05.2017 23:35:34 ******/
CREATE DATABASE [TestDB1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDB1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\TestDB1.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TestDB1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\TestDB1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDB1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDB1]
GO
/****** Object:  Table [dbo].[Байты]    Script Date: 31.05.2017 23:35:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Байты](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Byte] [tinyint] NOT NULL,
	[File_Id] [int] NOT NULL,
 CONSTRAINT [PK_Байты] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Файлы]    Script Date: 31.05.2017 23:35:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Файлы](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[RelativePath] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Файлы] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Байты] ON 

INSERT [dbo].[Байты] ([Id], [Byte], [File_Id]) VALUES (1, 10, 1)
INSERT [dbo].[Байты] ([Id], [Byte], [File_Id]) VALUES (2, 20, 1)
INSERT [dbo].[Байты] ([Id], [Byte], [File_Id]) VALUES (3, 15, 1)
SET IDENTITY_INSERT [dbo].[Байты] OFF
SET IDENTITY_INSERT [dbo].[Файлы] ON 

INSERT [dbo].[Файлы] ([Id], [Name], [RelativePath]) VALUES (1, N'File1', N'\')
INSERT [dbo].[Файлы] ([Id], [Name], [RelativePath]) VALUES (2, N'File2', N'\')
INSERT [dbo].[Файлы] ([Id], [Name], [RelativePath]) VALUES (3, N'File3', N'\Directory1')
SET IDENTITY_INSERT [dbo].[Файлы] OFF
ALTER TABLE [dbo].[Байты]  WITH CHECK ADD  CONSTRAINT [FK_Байты_Файлы] FOREIGN KEY([File_Id])
REFERENCES [dbo].[Файлы] ([Id])
GO
ALTER TABLE [dbo].[Байты] CHECK CONSTRAINT [FK_Байты_Файлы]
GO
USE [master]
GO
