USE [master]
GO
/****** Object:  Database [TestDB2]    Script Date: 01.06.2017 0:33:07 ******/
CREATE DATABASE [TestDB2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDB2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\TestDB2.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TestDB2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\TestDB2_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDB2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDB2]
GO
/****** Object:  Table [dbo].[File1]    Script Date: 01.06.2017 0:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[File1](
	[Ключ] [char](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Путь] [nvarchar](50) NOT NULL,
	[File1_Ключ] [char](10) NULL,
 CONSTRAINT [PK_File1] PRIMARY KEY CLUSTERED 
(
	[Ключ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[File1] ([Ключ], [Name], [Путь], [File1_Ключ]) VALUES (N'a         ', N'Файл1', N'\', NULL)
INSERT [dbo].[File1] ([Ключ], [Name], [Путь], [File1_Ключ]) VALUES (N'b         ', N'Файл2', N'\', N'a         ')
INSERT [dbo].[File1] ([Ключ], [Name], [Путь], [File1_Ключ]) VALUES (N'c         ', N'Файл3', N'\', NULL)
ALTER TABLE [dbo].[File1]  WITH CHECK ADD  CONSTRAINT [FK_File1_File1] FOREIGN KEY([File1_Ключ])
REFERENCES [dbo].[File1] ([Ключ])
GO
ALTER TABLE [dbo].[File1] CHECK CONSTRAINT [FK_File1_File1]
GO
USE [master]
GO
